<div class="container">

    <h1>{{item.name}}</h1>

    <p> <strong>Typo de nave: </strong> {{item.type_spacecraft}}</p>
    <br>
    <p> <strong>Toneladas de empuje: </strong> {{item.tons_of_thrust}}</p>
    <br>
    <p> <strong>Peso: </strong> {{item.tons_of_weight}} Toneladas</p>
    <br>
    <p> <strong>Tipo de combustible: </strong> {{item.type_fuel}}</p>
    <br>
    <p> <strong>Altura: </strong> {{item.height}}</p>
    <br>
    <p> <strong>Pais: </strong> {{item.country}}</p>
    <br>
    <p> <strong>Objectivo: </strong> {{item.objective}}</p>
    <br>
    <p> <strong>Activo: </strong> {{item.activated}}</p>
    <br>
    <p> <strong>Capacidad de personas: </strong> {{item.people_capacity}}</p>
    <br>
    <p> <strong>Capacidad de Carga: </strong> {{item.transport_capacity}}</p>
    <br>
    <p> <strong>Velocidad Maxima: </strong> {{item.massive_speed}}</p>
    <br>
    <p> <strong>Systemas de propulsión: </strong> {{item.propulsion_system}}</p>


</div>